In [1]:
import os
import sys
import pandas as pd
import yaml

In [2]:
import scipy.stats

In [3]:
#Retreive local data path
with open('../config/paths.yaml','r') as file:
    paths_list = yaml.safe_load(file)
    PATH = os.path.abspath(paths_list['PATH'])

In [4]:
data = pd.read_csv(os.path.join(PATH,'tables','data_merge_noDelta.csv'))
data.groupby(['StudyDay','Class_name']).describe()

                    Abolute_Neutrophil                                    \
                                 count      mean       std   min     25%
StudyDay Class_name
0        Infected                 12.0  4.233333  1.853657  2.22  2.7875
         Mock                      8.0  4.773750  2.396348  2.66  3.0550
2        Infected                 12.0  3.688333  2.651784  1.11  2.0575
         Mock                      8.0  5.086250  2.580730  2.10  4.0575
4        Infected                 12.0  3.075000  1.365500  1.02  2.0800
         Mock                      8.0  5.003750  2.519121  2.57  3.0650
6        Infected                 12.0  2.906667  0.876837  1.69  2.3725
         Mock                      8.0  4.956250  2.053923  2.28  3.7625
8        Infected                  9.0  3.145556  1.936402  1.46  2.0900
         Mock                      7.0  4.540000  3.215286  1.11  2.6550

                                          Absolute_Basophil            ...  \
                       50%     75%    max             count      mean  ...
StudyDay Class_name                                                    ...
0        Infected    3.840  5.2325   8.37              12.0  0.008333  ...
         Mock        3.940  5.7800   9.45               8.0  0.001250  ...
2        Infected    2.770  4.6875  10.32              12.0  0.000000  ...
         Mock        4.605  5.3500  10.63               8.0  0.008750  ...
4        Infected    3.095  4.0675   5.29              12.0  0.000000  ...
         Mock        3.885  7.1275   8.70               8.0  0.002500  ...
6        Infected    2.700  3.3150   4.61              12.0  0.002500  ...
         Mock        5.160  5.8600   8.58               8.0  0.003750  ...
8        Infected    2.570  2.9800   7.77               9.0  0.001111  ...
         Mock        3.260  5.7050  10.69               7.0  0.001429  ...

                        VEGF         sCD40L                                  \
                         75%     max  count        mean          std    min
StudyDay Class_name
0        Infected    10.5025  100.13   12.0   78.600000   123.399912   0.00
         Mock        16.8975  122.07    8.0   32.511250    41.937750   0.00
2        Infected    13.9700  126.02   12.0  900.101667  2036.421059   8.91
         Mock        27.7775  126.77    8.0  182.773750   304.336896  20.64
4        Infected     9.1925  142.07   12.0   87.004167   192.663571   0.00
         Mock        23.7450  115.94    8.0  113.391250   109.650073   0.00
6        Infected    43.5550  280.70   12.0  290.388333   456.587815   0.00
         Mock        45.5750  175.14    8.0   59.743750    64.099955   2.39
8        Infected        NaN     NaN    0.0         NaN          NaN    NaN
         Mock            NaN     NaN    0.0         NaN          NaN    NaN


                         25%     50%       75%      max
StudyDay Class_name
0        Infected     6.1575  22.850   98.7900   431.84
         Mock         5.3700  20.035   39.9050   126.60
2        Infected    23.2175  52.800  240.8100  6757.06
         Mock        29.5600  60.855  168.9050   919.00
4        Infected     9.4100  18.155   62.4400   689.80
         Mock        32.1000  99.385  166.5725   321.87
6        Infected    12.3150  99.755  466.8050  1590.27
         Mock        11.2025  42.950   79.0675   187.60
8        Infected        NaN     NaN       NaN      NaN
         Mock            NaN     NaN       NaN      NaN

[10 rows x 1416 columns]

In [5]:
data_clinScore = pd.read_csv(os.path.join(PATH,'raw','Cage-side_scores_v2.csv'))

data_clinScore = data_clinScore.pivot_table(index = 'Subject', values = 'Clinical_score', columns = 'StudyDay')
data_clinScore.columns = data_clinScore.columns.astype(str)

In [6]:
data_clinScore

StudyDay  -11   -7    2    4    6    8
Subject
B03757    0.0  0.0  3.0  5.0  2.0  0.0
B03781    NaN  3.0  3.0  3.0  3.0  3.0
B03819    NaN  3.0  3.0  3.0  3.0  3.0
B03828    NaN  4.0  4.0  5.0  3.0  4.0
B03843    0.0  1.0  3.0  3.0  3.0  3.0
B03859    NaN  2.0  3.0  3.0  1.0  3.0
B03869    0.0  1.0  2.0  3.0  4.0  2.0
B03928    0.0  0.0  0.0  0.0  0.0  0.0
B03942    NaN  2.0  1.0  1.0  1.0  2.0
B03955    1.0  0.0  1.0  3.0  3.0  1.0
B03959    NaN  1.0  3.0  3.0  4.0  2.0
B03989    0.0  0.0  3.0  4.0  1.0  2.0
G21D      NaN  2.0  3.0  2.0  3.0  3.0
G21E      NaN  2.0  3.0  4.0  3.0  4.0
G26Y      NaN  2.0  3.0  3.0  2.0  3.0
G57L      NaN  2.0  3.0  3.0  1.0  2.0
G57N      NaN  2.0  3.0  2.0  3.0  3.0
G966      NaN  4.0  NaN  NaN  NaN  NaN
G974      NaN  2.0  3.0  3.0  2.0  2.0
H32F      NaN  2.0  3.0  3.0  3.0  3.0
H38Y      NaN  1.0  3.0  3.0  3.0  3.0
H54R      NaN  0.0  3.0  3.0  3.0  3.0
H56N      NaN  0.0  2.0  1.0  0.0  1.0
H89K      NaN  3.0  3.0  3.0  2.0  4.0

In [7]:
# Calculate the change from pre-exposure
data_clinScore['2_delta'] = data_clinScore['2'] - data_clinScore['-7']
data_clinScore['4_delta'] = data_clinScore['4'] - data_clinScore['-7']
data_clinScore['6_delta'] = data_clinScore['6'] - data_clinScore['-7']
data_clinScore['max'] = data_clinScore[['2','4','6']].max(axis=1)

In [8]:
# get the baseline age in years
data['Age_bl_y'] = (data.loc[data.StudyDay==2,'Age_d']-2)/365

In [9]:
data_clin_score = data[['Subject','Class_name','SEX','COUNTRY_ORIGIN','Age_bl_y']].dropna().drop_duplicates(subset=None).set_index('Subject').join(data_clinScore[['max']])
data_clin_score

        Class_name SEX COUNTRY_ORIGIN  Age_bl_y  max
Subject
B03757    Infected   F       Cambodia  4.383562  5.0
B03781    Infected   F       Cambodia  4.378082  3.0
B03819    Infected   F       Cambodia  4.052055  3.0
B03828        Mock   F       Cambodia  3.895890  5.0
B03859        Mock   F       Cambodia  4.605479  3.0
B03928        Mock   M       Cambodia  3.778082  0.0
B03942        Mock   M       Cambodia  4.005479  1.0
B03955    Infected   M       Cambodia  4.306849  3.0
B03959    Infected   M       Cambodia  4.210959  4.0
B03989    Infected   M       Cambodia  4.013699  4.0
G21E      Infected   F            nil  5.958904  4.0
G26Y          Mock   F            nil  6.054795  3.0
G57L          Mock   F            nil  4.504110  3.0
G57N      Infected   F            nil  4.619178  3.0
G974      Infected   F            nil  6.704110  3.0
H32F      Infected   M            nil  6.849315  3.0
H38Y      Infected   M            nil  6.827397  3.0
H54R      Infected   M            nil  6.276712  3.0
H56N          Mock   M            nil  5.975342  2.0
H89K          Mock   M            nil  5.934247  3.0

In [10]:
data_clin_score.groupby('Class_name').describe()

           Age_bl_y                                                    \
              count      mean       std       min       25%       50%
Class_name
Infected       12.0  5.215068  1.188735  4.013699  4.282877  4.501370
Mock            8.0  4.844178  0.988883  3.778082  3.978082  4.554795

                                 max                                           \
                 75%       max count      mean       std  min   25%  50%  75%
Class_name
Infected    6.383562  6.849315  12.0  3.416667  0.668558  3.0  3.00  3.0  4.0
Mock        5.944521  6.054795   8.0  2.500000  1.511858  0.0  1.75  3.0  3.0


            max
Class_name
Infected    5.0
Mock        5.0

In [11]:
def welch_dof(x,y):
        dof = (x.var()/x.size + y.var()/y.size)**2 / ((x.var()/x.size)**2 / (x.size-1) + (y.var()/y.size)**2 / (y.size-1))
        print(f"Welch-Satterthwaite Degrees of Freedom= {dof:.4f}")

In [12]:
scipy.stats.ttest_ind(data_clin_score.loc[data_clin_score.Class_name == 'Infected','max'],data_clin_score.loc[data_clin_score.Class_name == 'Mock','max'], equal_var=False)

Ttest_indResult(statistic=1.613005644837134, pvalue=0.14177963262930696)

In [13]:
welch_dof(data_clin_score.loc[data_clin_score.Class_name == 'Infected','max'], data_clin_score.loc[data_clin_score.Class_name == 'Mock','max'])

Welch-Satterthwaite Degrees of Freedom= 8.8484

In [14]:
scipy.stats.ttest_ind(data_clin_score.loc[data_clin_score.Class_name == 'Infected','Age_bl_y'],data_clin_score.loc[data_clin_score.Class_name == 'Mock','Age_bl_y'], equal_var=False)

Ttest_indResult(statistic=0.7570866646127127, pvalue=0.4593847891245695)

In [15]:
welch_dof(data_clin_score.loc[data_clin_score.Class_name == 'Infected','Age_bl_y'], data_clin_score.loc[data_clin_score.Class_name == 'Mock','Age_bl_y'])

Welch-Satterthwaite Degrees of Freedom= 16.9645

In [16]:
data_clin_score.index.tolist()

['B03757',
 'B03781',
 'B03819',
 'B03828',
 'B03859',
 'B03928',
 'B03942',
 'B03955',
 'B03959',
 'B03989',
 'G21E',
 'G26Y',
 'G57L',
 'G57N',
 'G974',
 'H32F',
 'H38Y',
 'H54R',
 'H56N',
 'H89K']

In [17]:
for col in data.columns:
    print(col)

Subject
StudyDay
Abolute_Neutrophil
Absolute_Basophil
Absolute_Eosinophil
Absolute_Lymphocyte
Absolute_Monocyte
Absolute_Reticulocyte
Age_d
Alanine_Aminotransferase
Albumin
AlbuminvGlobulin_Ratio
Aspartate_Aminotransferase
Blood_Urea_Nitrogen
C-Reactive_Protein
COUNTRY_ORIGIN
Class_path
Creatinine_
Creatinine_Kinase
Globulin
HEM
Hematocrit
Hemoglobin
ICT
LIP
Lactate_Dehydrogenase
Mean_Corpuscular_Hemoglobin
Mean_Corpuscular_Hemoglobin_Concentraion
Mean_Corpuscular_Volume
Mean_Platelet_Volume_
Percent_Basophil
Percent_Eosinophil
Percent_Lymphocyte
Percent_Monocyte
Percent_Neutrophil
Percent_Reticulocyte
Platelet
Platelet_Distribution_Width
Platelet_Large_Cell_-_Ratio
Plateletcrit
Red_Blood_Cell
Red_Cell_Distrubtion_Width_-_Coefficient
Red_Cell_Distrubtion_Width_-_Standard_De
SEX
STUDY_NO
Total_Protein
White_Blood_Cell_
10Percentile-firstorder
90Percentile-firstorder
Autocorrelation-glcm
Busyness-ngtdm
Class_radio
ClusterProminence-glcm
ClusterShade-glcm
ClusterTendency-glcm
Coarseness-ngtdm
Compactness1-shape
Compactness2-shape
Complexity-ngtdm
Contrast-glcm
Contrast-ngtdm
Correlation-glcm
DependenceEntropy-gldm
DependenceNonUniformity-gldm
DependenceNonUniformityNormalized-gldm
DependenceVariance-gldm
DifferenceAverage-glcm
DifferenceEntropy-glcm
DifferenceVariance-glcm
Elongation-shape
Energy-firstorder
Entropy-firstorder
File Name
Flatness-shape
GrayLevelNonUniformity-gldm
GrayLevelNonUniformity-glrlm
GrayLevelNonUniformity-glszm
GrayLevelNonUniformityNormalized-glrlm
GrayLevelNonUniformityNormalized-glszm
GrayLevelVariance-gldm
GrayLevelVariance-glrlm
GrayLevelVariance-glszm
HighGrayLevelEmphasis-gldm
HighGrayLevelRunEmphasis-glrlm
HighGrayLevelZoneEmphasis-glszm
Id-glcm
Idm-glcm
Idmn-glcm
Idn-glcm
Imc1-glcm
Imc2-glcm
InterquartileRange-firstorder
InverseVariance-glcm
JointAverage-glcm
JointEnergy-glcm
JointEntropy-glcm
Kurtosis-firstorder
LargeAreaEmphasis-glszm
LargeAreaHighGrayLevelEmphasis-glszm
LargeAreaLowGrayLevelEmphasis-glszm
LargeDependenceEmphasis-gldm
LargeDependenceHighGrayLevelEmphasis-gldm
LargeDependenceLowGrayLevelEmphasis-gldm
LeastAxisLength-shape
LongRunEmphasis-glrlm
LongRunHighGrayLevelEmphasis-glrlm
LongRunLowGrayLevelEmphasis-glrlm
LowGrayLevelEmphasis-gldm
LowGrayLevelRunEmphasis-glrlm
LowGrayLevelZoneEmphasis-glszm
MCC-glcm
MajorAxisLength-shape
Maximum-firstorder
Maximum2DDiameterColumn-shape
Maximum2DDiameterRow-shape
Maximum2DDiameterSlice-shape
Maximum3DDiameter-shape
MaximumProbability-glcm
Mean-firstorder
MeanAbsoluteDeviation-firstorder
Median-firstorder
MeshVolume-shape
Minimum-firstorder
MinorAxisLength-shape
Range-firstorder
RobustMeanAbsoluteDeviation-firstorder
RootMeanSquared-firstorder
RunEntropy-glrlm
RunLengthNonUniformity-glrlm
RunLengthNonUniformityNormalized-glrlm
RunPercentage-glrlm
RunVariance-glrlm
ShortRunEmphasis-glrlm
ShortRunHighGrayLevelEmphasis-glrlm
ShortRunLowGrayLevelEmphasis-glrlm
SizeZoneNonUniformity-glszm
SizeZoneNonUniformityNormalized-glszm
Skewness-firstorder
SmallAreaEmphasis-glszm
SmallAreaHighGrayLevelEmphasis-glszm
SmallAreaLowGrayLevelEmphasis-glszm
SmallDependenceEmphasis-gldm
SmallDependenceHighGrayLevelEmphasis-gldm
SmallDependenceLowGrayLevelEmphasis-gldm
SphericalDisproportion-shape
Sphericity-shape
StandardDeviation-firstorder
Strength-ngtdm
Study
StudyDate
SumAverage-glcm
SumEntropy-glcm
SumSquares-glcm
SurfaceArea-shape
SurfaceVolumeRatio-shape
TotalEnergy-firstorder
Uniformity-firstorder
Variance-firstorder
VoxelVolume-shape
ZoneEntropy-glszm
ZonePercentage-glszm
ZoneVariance-glszm
Class
G-CSF
GM-CSF
IFN-Alpha
IFN-gamma
IL-10
IL-12_23_(p40)
IL-13
IL-15
IL-17a
IL-18
IL-1b
IL-1ra
IL-2
IL-4
IL-5
IL-6
IL-8
MCP-1
MIP-1alpha
MIP-1beta
STUDY_NO_imm
TGF-alpha
TNF-alpha
VEGF
sCD40L
Class_name
Age_bl_y

In [18]:
data_infectMode = pd.read_csv(os.path.join(PATH,'raw','Cage-side_scores_v2.csv'),dtype={'Study':str,'Group':str})

#data_infectMode = data_infectMode.pivot_table(index = 'Subject', values = 'Group ', columns = 'StudyDay', aggfunc=lambda x: ' '.join(x))
#data_infectMode.columns = data_infectMode.columns.astype(str)

data_infectMode.loc[(data_infectMode.Study == '64E-1a'),'mode'] = 'IB'
data_infectMode.loc[(data_infectMode.Study == '64E-2a'),'mode'] = 'IB'
data_infectMode.loc[((data_infectMode.Group == '1') | (data_infectMode.Group == '2')) & (data_infectMode.Study == '64E-3a'),'mode'] = 'IB'
data_infectMode.loc[((data_infectMode.Group == '3') | (data_infectMode.Group == '4')) & (data_infectMode.Study == '64E-3a'),'mode'] = 'Aerosol'

data_infectMode.loc[(data_infectMode.Group == '1') & (data_infectMode.Study == '64E-1a'),'Class_name'] = 'Mock'
data_infectMode.loc[(data_infectMode.Group == '2') & (data_infectMode.Study == '64E-1a'),'Class_name'] = 'Infected'
data_infectMode.loc[(data_infectMode.Group == '1') & (data_infectMode.Study == '64E-2a'),'Class_name'] = 'Mock'
data_infectMode.loc[(data_infectMode.Group == '2') & (data_infectMode.Study == '64E-2a'),'Class_name'] = 'Infected'
data_infectMode.loc[((data_infectMode.Group == '1') | (data_infectMode.Group == '3')) & (data_infectMode.Study == '64E-3a'),'Class_name'] = 'Mock'
data_infectMode.loc[((data_infectMode.Group == '2') | (data_infectMode.Group == '4')) & (data_infectMode.Study == '64E-3a'),'Class_name'] = 'Infected'

In [19]:
data_infectMode.loc[data_infectMode.Subject.isin(data_clin_score.index.tolist())].drop_duplicates('Subject').groupby(['Class_name','mode']).agg('count')

                    Study  Group  Subject  Sex  Clinical_score  StudyDay
Class_name mode
Infected   Aerosol      3      3        3    3               3         3
           IB           9      9        9    9               9         9
Mock       Aerosol      2      2        2    2               2         2
           IB           6      6        6    6               6         6

In [20]:
data_infectMode.loc[data_infectMode.Subject.isin(data_clin_score.index.tolist())].drop_duplicates('Subject').groupby(['Class_name','Sex']).agg('count')

                Study  Group  Subject  Clinical_score  StudyDay  mode
Class_name Sex
Infected   F        6      6        6               6         6     6
           M        6      6        6               6         6     6
Mock       F        4      4        4               4         4     4
           M        4      4        4               4         4     4

In [21]:
data_infectMode.loc[data_infectMode.Subject.isin(data_clin_score.index.tolist())].drop_duplicates('Subject').groupby(['Class_name','mode']).agg('count')

                    Study  Group  Subject  Sex  Clinical_score  StudyDay
Class_name mode
Infected   Aerosol      3      3        3    3               3         3
           IB           9      9        9    9               9         9
Mock       Aerosol      2      2        2    2               2         2
           IB           6      6        6    6               6         6

In [22]:
data_infectMode

      Study Group Subject Sex  Clinical_score  StudyDay     mode Class_name
0    64E-1a     2  B03757   F               0       -11       IB   Infected
1    64E-1a     2  B03757   F               0        -7       IB   Infected
2    64E-1a     2  B03757   F               3         2       IB   Infected
3    64E-1a     2  B03757   F               5         4       IB   Infected
4    64E-1a     2  B03757   F               2         6       IB   Infected
..      ...   ...     ...  ..             ...       ...      ...        ...
117  64E-3a     3    H89K   M               3        -7  Aerosol       Mock
118  64E-3a     3    H89K   M               3         2  Aerosol       Mock
119  64E-3a     3    H89K   M               3         4  Aerosol       Mock
120  64E-3a     3    H89K   M               2         6  Aerosol       Mock
121  64E-3a     3    H89K   M               4         8  Aerosol       Mock

[122 rows x 8 columns]

In [23]:
testchi = data_infectMode.loc[data_infectMode.Subject.isin(data_clin_score.index.tolist())].drop_duplicates('Subject').groupby(['mode','Class_name']).agg('count')[['Subject']].unstack()

display(testchi)
chi2, chiP, dof, expected = scipy.stats.chi2_contingency(testchi)
print('Chi2: ',chi2)
print('dof: ',dof)
print('pval: ',chiP)

            Subject
Class_name Infected Mock
mode
Aerosol           3    2
IB                9    6

Chi2:  0.0
dof:  1
pval:  1.0

In [24]:
testchi = data_infectMode.loc[data_infectMode.Subject.isin(data_clin_score.index.tolist())].drop_duplicates('Subject').groupby(['Sex','Class_name']).agg('count')[['Subject']].unstack()

display(testchi)
chi2, chiP, dof, expected = scipy.stats.chi2_contingency(testchi)
print('Chi2: ',chi2)
print('dof: ',dof)
print('pval: ',chiP)

            Subject
Class_name Infected Mock
Sex
F                 6    4
M                 6    4

Chi2:  0.0
dof:  1
pval:  1.0

# Get weight demographic info

In [25]:
data_weight = pd.read_csv(os.path.join(PATH,'raw','64E_weights_compiled_v2.csv'),dtype={'Study':str,'Group':str})

#data_weight = data_weight.pivot_table(index = 'Subject', values = 'Group ', columns = 'StudyDay', aggfunc=lambda x: ' '.join(x))
#data_weight.columns = data_weight.columns.astype(str)

data_weight.loc[(data_weight.Study == '64E-1a'),'mode'] = 'IB'
data_weight.loc[(data_weight.Study == '64E-2a'),'mode'] = 'IB'
data_weight.loc[((data_weight.Group == '1') | (data_weight.Group == '2')) & (data_weight.Study == '64E-3a'),'mode'] = 'IB'
data_weight.loc[((data_weight.Group == '3') | (data_weight.Group == '4')) & (data_weight.Study == '64E-3a'),'mode'] = 'Aerosol'

data_weight.loc[(data_weight.Group == '1') & (data_weight.Study == '64E-1a'),'Class_name'] = 'Mock'
data_weight.loc[(data_weight.Group == '2') & (data_weight.Study == '64E-1a'),'Class_name'] = 'Infected'
data_weight.loc[(data_weight.Group == '1') & (data_weight.Study == '64E-2a'),'Class_name'] = 'Mock'
data_weight.loc[(data_weight.Group == '2') & (data_weight.Study == '64E-2a'),'Class_name'] = 'Infected'
data_weight.loc[((data_weight.Group == '1') | (data_weight.Group == '3')) & (data_weight.Study == '64E-3a'),'Class_name'] = 'Mock'
data_weight.loc[((data_weight.Group == '2') | (data_weight.Group == '4')) & (data_weight.Study == '64E-3a'),'Class_name'] = 'Infected'

In [26]:
data_weight = data_weight.set_index('Animal ID')

In [27]:
data_weight['BL'] = data_weight[['D-11','D-7']].mean(axis=1)
data_weight['delta_2'] = data_weight.D2 - data_weight.BL
data_weight['delta_4'] = data_weight.D4 - data_weight.BL
data_weight['delta_6'] = data_weight.D6 - data_weight.BL

In [28]:
data_weight['delta_mean'] = data_weight[['delta_2','delta_4','delta_6']].mean(axis=1)

In [29]:
data_weight = data_weight.loc[data_weight.index.isin(data_clin_score.index.tolist())]

In [30]:
data_weight.groupby('Class_name').describe().delta_mean

,count,mean,std,min,25%,50%,75%,max
Class_name,,,,,,,,
Infected,12.0,-0.028889,0.113683,-0.186667,-0.135000,-0.033333,0.066667,0.146667
Mock,8.0,-0.044167,0.144966,-0.193333,-0.161667,-0.060000,0.015000,0.253333

In [31]:
scipy.stats.ttest_ind(data_weight.loc[data_weight.Class_name == 'Infected','delta_mean'], data_weight.loc[data_weight.Class_name == 'Mock','delta_mean'],equal_var=False)

Ttest_indResult(statistic=0.2510336304812785, pvalue=0.8058443522542953)

In [32]:
welch_dof(data_weight.loc[data_weight.Class_name == 'Infected','delta_mean'], data_weight.loc[data_weight.Class_name == 'Mock','delta_mean'])

Welch-Satterthwaite Degrees of Freedom= 12.5717

In [33]:
data_weight.groupby('Class_name').describe().BL

            count      mean       std   min    25%   50%    75%   max
Class_name
Infected     12.0  4.171667  1.112686  2.94  3.250  4.02  4.820  6.36
Mock          8.0  4.490000  1.646711  2.54  3.625  4.02  5.155  7.86

In [34]:
scipy.stats.ttest_ind(data_weight.loc[data_weight.Class_name == 'Infected','BL'], data_weight.loc[data_weight.Class_name == 'Mock','BL'],equal_var=False)

Ttest_indResult(statistic=-0.47874837465391745, pvalue=0.6412899266501295)

In [35]:
welch_dof(data_weight.loc[data_weight.Class_name == 'Infected','BL'], data_weight.loc[data_weight.Class_name == 'Mock','BL'])

Welch-Satterthwaite Degrees of Freedom= 11.2468